<%- include("partials/header.ejs") %>

<%- include("partials/navbar.ejs") %>

<div class="create-container">
    <h1>Create you Post</h1>
    <form action="/createPost" method="POST">
        <input type="text" name="post_title" placeholder="Title" required>
        <textarea name="post_content" placeholder="Write your post here..."></textarea>
        <button type="submit">Publish</button>
    </form>
</div>

<%- include("partials/footer.ejs") %> 